/* General Page Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.card {
    background-color: white;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(64, 10, 10, 0.1);
}

img {
    border-radius: 50%;
    border: 5px solid #007bff;
}

h1 {
    color: #0e0242;
    margin: 10px 0;
}

.title {
    color: rgb(46, 5, 35);
    font-size: 18px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3e1f02;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: 0.3s;
}

.button:hover {
    background-color: #515f05;
}